.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-size: cover;
    background-position: center;
    height: 763px;
    padding-top: 90px;
    padding-right: 150px;
    color: #fff;
  }
  
  .hero-content {
    width: 630px;
    margin-top: 300px;
    margin-left: 80px;
    margin-right: auto;
    padding: 24px 40px 32px 40px;
    background: linear-gradient(135deg, #1CBDDD, #4DCA79);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 30px;
    line-height: 48px;
    font-weight: 700;
  }
  
  .hero-button {
    width: 250px;
    padding: 12px 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #F28D35;
    color: white;
    cursor: pointer;
    align-self: stretch; /* If you want the button to stretch full width inside the .hero-content */
    text-align: center;
  }
  
  
  @media (max-width: 768px) {
    .hero {
        padding-top: 30px; /* Reduced padding */
        padding-right: 30px; /* Same as above */
        padding-left: 30px; /* Add padding to the left to match the right padding */
        height: auto;
    }
  
    .hero-content {
        width: auto; /* Take the full width of the .hero container */
        margin-top: 0; /* Reset margins for mobile */
        padding: 24px; /* Uniform padding */
        gap: 10px; /* Adjust gap for mobile */
    }
  
    .hero h1 {
        font-size: 36px; /* Smaller font size for smaller screens */
        margin-bottom: 20px; /* Adjust spacing */
        line-height: 42px; /* Adjust line height accordingly */
    }
  
    .hero-button {
        width: auto; /* Allow the button to take necessary width */
        padding: 12px; /* Keep padding uniform */
        margin-left: 0; /* Reset any specific margins for mobile */
        margin-bottom: 20px; /* Adjust as needed */
    }
  }
  