.footer {
  background-color: #6B3CC9;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.footer-section {
  display: flex;
  justify-content: space-between;
}

.footer-brand {
  flex: 1;
}

.footer-logo {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-logo img {
  height: 18px;
  vertical-align: middle;
  padding-right: 8px;
  padding-bottom: 8px;
}

.footer-brand p {
  font-size: 0.9rem;
  max-width: 280px;
}

.footer-links {
  display: flex;
  gap: 50px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li:not(:last-child) {
  margin-bottom: 5px;
}

.footer-links ul li:hover {
  cursor: pointer;
  color: #a784eb;
}

.footer-bottom {
  border-top: 1px solid #ffffff;
  padding-top: 10px;
  text-align: center;
  margin-top: 20px;
}

.footer-bottom a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

@media (min-width: 1440px) {
  .footer {
      padding: 20px 10%; /* Increased padding */
  }

  .footer-logo img {
    height: 24px;
  }

  .footer-links {
    gap: 80px;
  }

  .footer-section {
    flex-wrap: wrap; /* Allows items to wrap as needed */
    justify-content: space-around; /* Adjusts spacing between items */
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .footer {
      padding: 20px 8%;
  }

  .footer-links {
      gap: 60px;
  }

  .footer-section {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .footer-section {
      flex-direction: column;
  }

  .footer-links {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding-right: 70px;
  }
}

@media (max-width: 375px) {
  .footer {
      padding: 15px;
  }

  .footer-section {
      flex-direction: column;
      align-items: center;
  }

  .footer-brand {
      margin-bottom: 15px;
  }

  .footer-logo img {
      height: 14px;
      padding-right: 6px;
      padding-bottom: 6px;
  }

  .footer-brand p {
      max-width: 90%;
      text-align: center;
      font-size: 0.8rem;
  }

  .footer-links {
      gap: 10px;
  }

  .footer-links h4 {
      padding-right: 0; /* Remove unnecessary padding */
  }

  .footer-links ul li {
      font-size: 0.8rem;
  }

  .footer-links ul li:not(:last-child) {
      margin-bottom: 3px;
  }

  .footer-bottom {
      padding-top: 8px;
  }
}
